:root {
    --bg-dark: #121212;
    --sidebar-bg: #1e1e1e;
    --primary-green: #42b883;
    --text-main: #e0e0e0;
    --text-muted: #888;
    --border-color: #333;
    --card-bg: #252525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-main);
}